header{
    background-color: blue;
    min-height: 80px;
    color: white;
    font-size: 30px;
}

#sidebar1{
    background-color: yellow;
    min-height: 590px;
    float: left;
    width: 200px;
}

#sidebar2{
    background-color: lightgreen;
    min-height: 590px;
    float: right;
    width: 200px;
}

#column1{
    background-color: darkblue;
    color: white;
    min-height: 590px;
    margin-left: 200px;
    margin-right: 200px;
}

footer{
    background-color: green;
    min-height: 20px;
    color: white;
}